# Archivos con estas extensiones serán ignoradas por Git
# Ignora los archivos terminados en .tmp
*.tmp

# Ignora archivos temporales de Word
~$*.doc*

# Ignora archivos temporales de PowerPoint
~$*.ppt*

# Archivos de mac
*.DS_Store
*._.DS_Store
*_Git_word.docx
